name: Build

on:
  push:
    branches: [ main, master ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: BTD6Mod
        path: bin/Release/net6.0/BTD6Mod.dll

  release:
    needs: build
    runs-on: windows-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Read LATEST.md
      id: latest
      uses: juliangruber/read-file-action@v1
      with:
        path: ./LATEST.md
        
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        body: ${{ steps.latest.outputs.content }}
        files: bin/Release/net6.0/BTD6Mod.dll
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
